#macOS
.DS_Store

# Java
*.class
*.jar
*.war
*.ear

# Maven
target/

# VS Code
.vscode/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# Logs
*.log

# Temporary files
*.tmp
*.temp